@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../public/font/Gilroy-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../../public/font/Gilroy-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../public/font/Poppins-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../../public/font/Poppins-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../../public/font/Gilroy-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../public/font/Poppins-Regular.ttf") format("opentype");
}

/* Gilroy 700 */
h1 {
  font-family: "Gilroy-Bold", sans-serif !important;
}

/* Gilroy 600 */
h2 {
  font-family: "Gilroy-SemiBold", sans-serif !important;
}

/* Poppins 600 */
h3 {
  font-family: "Poppins-SemiBold", sans-serif !important;
}

/* Poppins 500 */
h4 {
  font-family: "Poppins-Medium", sans-serif !important;
}

/* Gilroy 500 */
h5 {
  font-family: "Gilroy-Medium", sans-serif !important;
}

/* Poppins 400 */
p {
  font-family: "Poppins-Regular", sans-serif !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.no_scrollbar::-webkit-scrollbar {
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f4f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00b3a8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008077;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .container {
    @apply px-10 mx-auto;
  }
}

/* input{
  : none !important;
} */